body {
    /*Text*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Borders*/
    margin: 0px;
    padding: 0px;
}

p {
    /*Text*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 300;
}

h1, h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 18px;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 500;
    color: #333;
}

a {
    text-decoration: none;

}

a:visited {
    color: white;
}

star {
    color: red;
}

@media (min-width: 650px) {
    .content {
        min-width: 600px;
    }
}
@media (max-width: 649px) {
    .content {
        width: 90%;
    }
}

.content {
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Color And Shadows*/
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0,0,0,.07);
    /*Borders*/
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.registration-form {
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont {
    box-sizing: border-box;
}

label {
    /*Text*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: bold;
}

.input {
    /*Sizing*/
    width: 100%;
    height: 34px;
    /*Text*/
    /*color: #999;*/
    color: #555;
    font-size: 14px;
    line-height: 1.42857143;
    /*Color And Shadows*/
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /*Borders*/
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 6px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

/*here starts style sheet for autoriztion page*/
.blocks {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.autorization-block {
    margin: 10px;
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Color And Shadows*/
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0,0,0,.07);
    /*Borders*/
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;

    height: 300px;
    width: 300px;
}

.autorization-block__form {
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.autorization-block__form p {
    margin: 0px;
}

label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: bold;
}

.autorization-block__form__field {
    width: 90%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding-left: 6px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;

}

.autorization-block__forgot-password-reference {
    margin-top: 10px;
    font-size: 10pt;
    color: gray;
    margin: auto;
    margin-top: 10px;
}

.autorization-block__forgot-password-reference:hover {
    text-decoration: underline;
    transition: 1s;
}

.information-block {
    margin: 10px;
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Color And Shadows*/
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0,0,0,.07);
    /*Borders*/
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;

    height: 300px;
    width: 300px;
}

.information-block h2{
    font-size: 11pt;
    margin: 10px;
}

/*here ends style sheet for autoriztion page*/
