body {

}

.money-transaction-conteiner__item {
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    border-radius: 2px;
}

.item__name {
    color: #1E1E1E;
}

.item__subname {
    color: #cccccc;
}